body  {
  margin: 0;
  min-height: 100vh;
}

body, div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grand {
 width: 200px;
 height: 200px;
 background-color: red;
}
#parent {
  width: 130px;
 height: 130px;
 background-color: rgb(0, 17, 255);
 
}

#children {
  width: 60px;
 height: 60px;
 background-color: rgb(0, 255, 21);
}
